body {
	padding-top: 5.5rem;
}

/* Hide the nested list */
.nested {
	display: none;
  }
  
  /* Show the nested list when the "active" tag is present */
.active {
	display: block;
  }
  /* Create the caret/arrow with a unicode, and style it */
.collapses::before {
	content: "\25B6";
	color: black;
	display: inline-block;
	margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .collapsed::before {
	transform: rotate(90deg);
  }
  padding-top: 5.5rem;
}

#msa {
  width: 100%;
  height: 100%;
  font-family: monospace;
}

.biojs_msa_overviewbox {
  border: 1px solid #000000;
}

.biojs_msa_seqblock {
  border: 1px solid #000000;
}
